* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body	{
  color: #737373;
  background-color: #ffffff;
  height: 100%;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

input, textarea, .btn-primary {
    outline: 0;
}

legend {
  color: #737373;
}

p {
  color: #737373;
  font-style: normal;
  margin: 10px 0 10px 0;
}

a   {
    color: #484848;
    font-size: 14px;
    outline: none;
    text-decoration: underline;
}

a:hover {
    color: #f55651;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: #755b4e "Georgia", Arial, Helvetica, sans-serif;
}

h1  {
    font: normal bold 55px Sylfaen;
    text-align: left;
    text-decoration: none;
    color: #755b4e;
    line-height: 48px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-transform: none;
}

pre {
  color: #737373;
}

a.list-group-item .list-group-item-heading {
	color: #737373;
}

.thumbnail .caption {
	color: #737373;
}

hr	{
	clear: both;
}

.clear {
 clear: both;
}


/* btn 
======================= */

.btn.btn-search	{
	font-size: 12px;
	font-style: italic;
	padding: 3px 8px 3px 8px;
}

.btn:hover,
.btn:focus {
	color: #ffffff;
}

.btn-default {
	color: #737373;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	color: #737373;
}
.btn-primary {
	background-color: #ff5c53;
	border-color: #ff5c53;
    text-decoration: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-color: #f55651;
	border-color: #f55651;
}

.btn-default .caret {
	border-top-color: #737373;
}

.dropup .btn-default .caret {
	border-bottom-color: #737373;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus   {
    background: none;
    border: none;
}


/* --- */

.wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}



.marketing h2 a	{

    font: normal bold 22px Helvetica,Arial,sans-serif;
    text-align: left;
    text-decoration: none;
    color: #d94643;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 10px;

}
.marketing h2 a:hover	{
    color: #f55651;
}
.like {
    float: left;
    padding: 5px 0 20px;
    width: 30%;
}

.share {
    float: right;
}

.nextpage {
    clear: both;
}

.article .not-found img {
max-width: 100%;
}

.article .not-found .col-md-5 h3 {
text-align: center;
}

.article .not-found .col-md-5 h1 {
font-size: 150px; text-align: center; padding: 50px;
}
.col-md-3.article-main {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.article-main h4 {
    height: 35px;
}

.article .photo-gallery .img-thumbnail {
    max-width: 100%;
}

.article .photo-gallery li {
    display: inline-block;
    float: left;
    height: auto;
    left: 0;
    list-style: none outside none;
    margin: 4px;
    max-height: 150px;
    max-width: 265px;
    overflow: hidden;
    padding: 3px 5px 3px 2px;
    position: relative;
    top: 0;
    width: auto;
}

.nav-gallery-body   {
    background: #e4d3c1;
}

/* content-inner
============================== */



.pagination > a, .pagination > span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}

/* carousel
============================ */

.carousel {
    top: -170px;
}

a.carousel-control  {
    outline: none;
}

.carousel-control.left {
background: none;
}

.carousel-control.right {
background: none;
}
/* ---- */


/* menu
============================ */
.menu-content	{
	width: 66%;
	border-bottom: 1px solid #cacaca;
	height: 100px;
	float: right;
	margin-bottom: 10px;
	padding: 38px 0 0 0;
}

.dropdown-menu > li > a {
	color: #737373;
}

.nav > li > a {
	padding: 10px 25px 5px 25px;
}

.navbar {
	min-height: 99%;
	border-radius: 0;
	border: none;
}

.dropdown-menu  {
    top: 60%;
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 0;
	}
}

@media (min-width: 768px) {
}

.navbar-default {
  background-color: inherit;
  border-color: inherit;
  z-index: 500;
}

.navbar-default .navbar-brand {
  color: #737373;
}

.navbar-default .navbar-text {

}

.navbar-nav {
    float: right;
}
.navbar-default .navbar-nav > li > a {
    text-transform: none;
    border: 0 none #000000;
    padding: 10px 10px 10px 10px;
    font: normal bold 20px Sylfaen;
    text-decoration: none;
    color: #755b4e;
    line-height: 22px;
    background: transparent none no-repeat scroll center top;
}

.navbar-default .navbar-nav > li:hover,
.navbar-default .navbar-nav > li:focus {
    color: #f55651;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f55651;
  background-color: inherit;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a.active {
    color: #f55651;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #737373;
	border-bottom-color: #737373;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #737373;
	border-bottom-color: #737373;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #737373;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #f55651;
	}
}

.navbar-default .navbar-link {
    color: #f55651;
}
.navbar-default .navbar-link:hover {
	color: #f55651;
}

.navbar-inverse .navbar-toggle {
	border-color: #737373;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #737373;
}

.navbar .brand {	
	float: left;
	display: block;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: #737373;
	text-shadow: 0 1px 0 #ffffff;
}

.navbar a.brand  {
	outline: none;
}

@media (max-width: 979px) {
	.navbar .brand {
		padding-right: 10px;
		padding-left: 10px;
		margin: 0 0 0 -5px;
	}
}

.navbar-toggle	{
	margin-top: 45px;
}

.navbar-default .navbar-collapse.in .navbar-nav > li:hover,
.navbar-default .navbar-collapse.in .navbar-nav > li:focus {
	background: none;
	height: auto;
}
	
.navbar-collapse.collapse .nav.navbar-nav,
.navbar-collapse.collapse .navbar-form	{
    background: #fff;
    height: 42px;
    margin-top: 30px;
}

#ajaxSearch_form    {
    padding-top: 8px;
    float: right !important;
}
.caret	{
	border-width: 7px 6px 0;
	cursor: pointer;
    display: block;
    position: absolute;
    right: 6px;
    top: 18px;
}


.navbar-default .navbar-nav > li > a:hover {
    color: #f55651;
}

.menu-container  {
    background: #e4d3c1;
}

.content    {
    position: relative;
    top: 0;
    height: 95px;
}

/* --- */


.panel-default > .panel-heading {
  color: #737373;
}

.panel-default > .panel-heading > .dropdown .caret {
  border-color: #f55651 transparent;
}


.form-control.form-seach	{ 
	font-size: 12px;
	font-style: italic;
	padding: 3px 5px 3px 10px;
	height: 25px;
}

.ajaxSearch_result {
    border-bottom: 1px solid #C0C0C0;
}

.ajaxSearch_result a {
    text-decoration: underline;
}

.ajaxSearch_result a:hover {
    text-decoration: none;
}

.ajaxSearch_highlight.ajaxSearch_highlight1 {
    font: italic bold 15px Georgia,Arial,sans-serif;
}

@media (min-width: 1200px) {
	.menu-content	{
		width: 66%;
		border-bottom: 1px solid #cacaca;
		height: 100px;
		float: right;
		margin-bottom: 10px;
		padding: 38px 0 0 0;
	}

	.navbar-default .navbar-nav > li.active {
		background: url('../images/menu-act.jpg') no-repeat center bottom;
	}

}



.content-inner h1 {
    font-size: 25px;
}


.list-unstyled.categories-list-r > li	{
	list-style-image: url("../images/marker.jpg");
	margin-left: 15px;
}

.information-articles	{
	clear: both;
	padding: 0 10px 20px 15px;
}

.article	{
	clear: both;
}
.article > img {
    padding: 0 10px 10px 0;
}

.article ul,
.article ol {
    margin-left: 20px;
	/*overflow: hidden;*/
}

.col-md-3 img {
    width: 100%;
}

.article img	{
	max-width: 300px;
}

.article .col-md-11 .col-md-4 img	{
	max-width: 100%;
}

.tags, .comments, .calendar, .bookmark, .autor	{ background: url('../images/article-tags.png') no-repeat; height: 16px; padding-left: 20px; }
.tags { background-position: -0px -0px; }
.comments { background-position: -0px -48px; }
.calendar { background-position: -0px -16px; }
.bookmark { background-position: -0px -16px; }
.autor { background-position: -0px -32px; }


.jot-row.form-control	{
	height: 100%;
}
.jot-row.form-control .jot-poster b	{
	color: #808080;
    font-size: 12px;
    font-weight: normal;
}

.jot-row.form-control.jot-row-author .img-comment	{
	background: url("/assets/site/images/avatar.png") no-repeat;
	height: 50px;
    width: 50px;
	margin-bottom: 10px;
}

.jot-row.form-control .img-comment	{
	background: url("/assets/site/images/avatar-user.png") no-repeat;
	height: 50px;
    width: 50px;
	margin-bottom: 10px;
}

.jot-row.form-control .jot-comment {
    overflow: hidden;
}

.jot-row.form-control .jot-user {
    float: left;
    width: auto;
	overflow: hidden;
}

.jot-row.form-control  .jot-content {
    float: right;
    margin-left: 0;
    width: 88%;
}

/* --- */

/* footer
========================= */

footer	{
    background: #2f271c;
    color: #77715d;
    padding: 18px 0 18px;
    bottom: 0;
    width: 100%;
    margin: -25px auto 0;
    position: relative;
    clear: both;
}

footer .row 	{
    margin: 0;
}

footer a	{
    color: #77614a;
}

footer .nav > li > a:hover, .nav > li > a:focus {
    background: none;
    color: #f39d00;
}

footer .nav-pills > li > a {
    border-radius: 0;
}

footer .nav > li > a {
    padding: 10px 13px;
}

@media (max-width: 768px) {
	footer .nav > li > a {
		padding: 10px;
	}

    .nav > li > a {
        padding: 10px 10px 5px 10px;
    }

    .navbar-default .navbar-nav > li.active {
        background: url('../images/menu-act.jpg') no-repeat center bottom;
    }
}

@media (max-width: 1024px) {

    .nav > li > a {
        padding: 10px 10px 5px 10px;
    }

    .navbar-default .navbar-nav > li.active {
        background: url('../images/menu-act.jpg') no-repeat center bottom;
    }

    .navbar-collapse.collapse .navbar-form  {
        padding-top: 0;
    }
}


footer .nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background: none;
    color: #f39d00;
   text-decoration: none;
}

.col-md-4 > a + a {
    padding: 0 0 0 20px;
}

footer .soc {
    padding-left: 100px;
}


footer .row .col-md-4 p	{
	text-align: right;
}

/* hover social
======================*/
footer .twitter,
footer .facebook,
footer .google,
footer .rss,
footer .vk,
footer .twitter:hover,
footer .facebook:hover,
footer .google:hover,
footer .rss:hover,
footer .vk:hover {
    display: inline-block;
    width: 40px;
    height: 39px;
    background: url('../images/soc.png') no-repeat;
}

footer .twitter { background-position: -0px -234px; }
footer .facebook { background-position: -0px -117px; }
footer .google { background-position: -0px -156px; }
footer .rss { background-position: -0px -273px; }
footer .vk { background-position: -0px -328px; }
footer .twitter:hover { background-position: -0px -39px; }
footer .facebook:hover  { background-position: -0px -195px; }
footer .google:hover  { background-position: -0px -0px; }
footer .rss:hover  { background-position: -0px -78px; }
footer .vk:hover  { background-position: -0px -368px; }

.counter { display: none; }

.rambler {
    padding-right: 15px;
    text-align: right;
    width: 100%;
}

/* Калькулятор возраста */

.cats-age-widget {
    width: 100%;
    height: auto;
    margin: 20px;
    padding: 20px;
    background: #fff;
    border: 1px dashed #ccc;
    border-radius: 5px;
}

.cats-age-widget input {
    min-width: 180px;
}

.cats-age-widget .glyphicon-cat {
    background-image: url('../images/foot-cats.png');
    height: 16px;
    width: 16px;
    margin-right: 5px;
}

.cats-age-widget .calc-age {
    min-width: 120px;
}


.cats-age-widget .age-meter {
    position: relative;
    /*width: 255px;*/
    height: 255px;
    float: left;
}

.cats-age-widget .age-meter img {
    position: absolute;
    z-index: 5;
}

.cats-age-widget .age-meter .age-background {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 255px;
    height: 0;
    background: #000;
}

.cats-age-widget .age-result {
    float: left;
    /*width: 300px;*/
}

.cats-age-widget .alert {
    font-size: 18px;
}